.body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.body.sidebar-collapsed {
    grid-template-columns: 1fr;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.dir {
    background: #d5d5d5;
    color: #42434a;
    padding: 10px 50px;
    text-align: left;
    margin-bottom: 1rem;
}

.unauthorized {
    background-color: rgb(255, 120, 120);
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 15px;
}

@media (max-width: 1024px) {
    .body {
        grid-template-columns: 1fr;
    }

    .dir {
        padding: 10px 16px;
    }

}