.body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.body.sidebar-collapsed {
    grid-template-columns: 1fr;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.dir {
    background: #d5d5d5;
    color: #42434a;
    padding: 10px 50px;
    text-align: left;
    margin-bottom: 1rem;
}

.card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-x: auto;

}

.card .header {
    padding: 20px 10px;

}

.card .table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    padding: 10px;
}

.table .select {
    margin: 5px 0px;
    padding: 10px;
    border-color: var(--light-grey);
    color: var(--grey);
}

.table tr {
    background-color: var(--light-grey);
    overflow-x: auto;
}

.table td {
    padding: 8px;
}

.table .update-button {
    background-color: var(--highlighter-blue);
    color: var(--font-color);
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 90%;
}

.table .update-button:hover {
    background-color: var(--hover-blue);
    cursor: pointer;
}

.table .logs {
    color: var(--font-color);
    background-color: rgb(182, 41, 41);
}
    
.table .logs text {
    padding: 10px;
}

@media (max-width: 1024px) {

    .body {
        grid-template-columns: 1fr;
    }

    .dir {
        padding: 10px 16px;
    }

    .card {
        margin-bottom: 50px;
    }

     
    .table {
        border: 1px solid black;
    }


    .table .empty {
        display: none;
    }

    .table thead tr {
        display: none;
    }

    .table tr {
        display: block;
        border: 1px solid black;
    }

    .table th, .table td {
        padding: 10px;
    }

    .table .options-row td {
        text-align: center;
        width: 100%;
    }

    .table td {
        text-align: right;
        display: block;
        font-size: 1em;
        text-wrap: balance;
    }

    .table td::before {
        content: attr(data-title);
        float: left;
        color: var(--black);
        font-weight: bold;
    }

    .table .update-button {
         margin-bottom: 10px;
    }

    
}