@font-face {
    font-family: Poppins-Regular;
    src: url(/src/components/Assets/Poppins/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: Poppins-Medium;
    src: url(/src/components/Assets/Poppins/Poppins-Medium.ttf);
  }



.ul {
    display: flex;  
    align-items: center ;
    background-color: #2b2b2c;
    padding: 15px 50px;
    color: var(--font-color);
    font-family: Poppins-Medium;
    font-size: larger;
    list-style: none;
    margin: 0px;
    height: 80px;
  }

.menu {
  background-color: rgb(19, 19, 19);
  padding: 3px;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.3s background-color ease-in-out;
}

.menu:hover {
  cursor: pointer;
  background-color: var(--highlighter-blue);
}

.bell-item {
  margin-left: auto;
  padding: 10px 10px;
  margin-top: 0.5rem;
}

.bell-item:hover {
  cursor: pointer;
}


.logout-btn {
    background-color:var(--highlighter-blue);
    border: 0px;
    border-radius: 5px;
    font-family: Poppins-Medium;
    margin-left: 20px;
    margin-right: 10px;
    padding: 8px 10px;
    color: #ffffff;
    font-size: 15px;
}

.logout-btn:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}
